*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

.image-generator{
    height: 40vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

}

.image-generator::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("1..jpg");
    background-size: contain;
   
}

.image-generator .content{
    color: white;
    padding: 0 15px;
    max-width: 760px;
    text-align: center;
    position: relative;
}

.image-generator h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.image-generator p{
    font-size: 1.35rem;
    margin-top: 10px;
}

.image-generator .generate-form {
     height: 56px;
     width: 100%;
     display: flex;
     padding: 6px;
     margin: 45px 0 15px;
     align-items: center;
     justify-content: space-around;
     background: #fff;
     border-radius: 30px;
}

.generate-form input{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    outline: none;
    border: none;
    background: none;
    padding: 0 17 px;

}

/* .generate-form  #btn{
    font-size: 1rem;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    padding: 12px;
    border-radius: 30px;
    background: #4949E7;
    cursor: pointer;
} */

body{
    
    background-image: linear-gradient(45deg, #efefef 25%, rgba(239, 239, 239, 0) 25%, rgba(239, 239, 239, 0) 75%, #efefef 75%, #efefef), linear-gradient(45deg, #efefef 25%, rgba(239, 239, 239, 0) 25%, rgba(239, 239, 239, 0) 75%, #efefef 75%, #efefef);
}

#image{
    display: flex;
    width: 100%;
    max-width: 350px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px auto;
    
}

.button-85 {
 margin-right: 20px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: white;
  background: aqua;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {

  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
